@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* fundamentals */
* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* hero */

header img {
    width: 200px;
    height: 100px;
    margin-left: 22px;
}

.hero {
    width: 95%;
    display: flex;
    margin: auto;
    max-width: 400px;
}
section:nth-child(2) {
    margin: auto;
    width: 80%;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 25px;
}
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 15px 80px;
    border-radius: 40px;
    border: none;
    display: flex;
    margin: auto;
    color: hsl(257, 40%, 49%);
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
aside {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 30px;
}
i:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}
aside i {
    font-size: 15px;
    display: flex;
    padding: 12px 12px 12px 12px;
    margin: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
span { 
    font-size: 11px; 
    text-align: center;
    color: aliceblue;
}
span a { 
    color: white;
    font-weight: 600;
    font-size: 12px;
}
/* media queries */
@media screen and (min-width: 1024px) {
    body {
        background-image: url(images/bg-desktop.svg);
        height: 80vh;
    }
    main {
        flex-direction: row;
        flex-grow: 2;
        margin-bottom: 300px;
    }
    .hero {
        width: 100%;
        height: auto;
        display: flex;
        margin: auto;
        align-content: center;
        max-width: 900px;
        min-width: 650px;
        flex-grow: 2;
    }
    div {
        display: flex;
        align-content: center;
        height: 100%;
        margin: auto;
        margin-left: 9%;
        margin-right: 5%;
        flex-grow: 2;
    }
    section:nth-child(2) {
        justify-self: flex-start;
        text-align: left;
        width: 70%;
    }
    h1 {
        text-align: left;
        width: 60%;
        line-height: 55px;
        font-size: 40px;
    }
    p {
        display: flex;
        justify-self: flex-start;
        text-align: left;
        width: 70%;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 50px;
    }
    button {
        margin: 0;
    }

    aside {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 35px;

        z-index: 10000;
    }
    span {
        font-family: 'Poppins';
        color: aliceblue;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}