.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
.header {
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 75%;
    font-size: 3em;
}
.first-heading {
    font-size: 21px;
    color: hsl(229, 6%, 66%);
    font-weight: 300;
}
.second-heading {
    color: hsl(234, 12%, 34%);
    font-size: 21px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.third-heading {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin-bottom: 50px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 400px;
    height: 250px;
    margin: auto;
    margin-bottom: 35px;
    padding: 35px;
    box-shadow: 0 10px 50px #ccc;
    border-radius: 8px;
    border-top: 4px solid hsl(180, 62%, 55%);
}
.card2 {
    border-top: 4px solid hsl(0, 78%, 62%);
}
.card3 {
    border-top: 4px solid hsl(34, 97%, 64%);
}
.card4 {
    border-top: 4px solid hsl(212, 86%, 64%);

}
svg {
    display: flex;
    height: auto;
    align-self: self-end;
    margin-top: auto;
}
h3 {
    font-size: 23px;
    color: hsl(234, 12%, 34%);
}
p {
    font-size: 15px;
    margin-top: 15px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: hsl(229, 6%, 66%);
}
@media screen and (min-width: 980px) {
    .card {
        height: 200px;
        width: 250px;
        margin: auto;
        margin
    }
    .card1 {
        margin-right: 30px;
    }
    .card2 {
        margin-bottom: 30px;
    }
    .card4 {
        margin-left: 30px;
    }
    .main-card {
        display: flex;
        flex-direction: row;
    }
    .card .middle-card {
        display: flex;
        flex-direction: column;
    }
}